eclipse_workspace/.metadata
eclipse_workspace/GenericCollectionNotation/.cache
eclipse_workspace/GenericCollectionNotation/.settings
eclipse_workspace/GenericCollectionNotation/.worksheet
eclipse_workspace/GenericCollectionNotation/bin
eclipse_workspace/GenericCollectionNotation/src/**/*.sc
